.todo-container {
  width: 90%;
  border: 2px solid white;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
  gap: 10px;
  border-radius: 7px;
  margin-top: 10px;
}

#todos-container {
  width: 100%;
  border-radius: 7px;
  border: 2px solid gray;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

.todo-container span {
  flex-grow: 1;
  color: white;
  font-size: 1.2rem;
}

.todo-container svg {
  transform: scale(1.2);
  margin: 0 5px;
  cursor: pointer;
}

.edit-form {
  min-width: 80%;
}

.todoContent {
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}
